/*-------------------------- Global -----------------------------------*/
body {
	color: #777777;
	background-image: url("../images/bPage.png");
}

.container {
	width: 960px;
	margin: auto;
	height: auto;
}

h1, h2, h3 {
	font-family: "Georgia", Times, "Times New Roman", serif;
}

p, a {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
h1 { font-size: 36px; }
h2 { font-size: 26px; }
h3 { font-size: 16px; }

/*-------------------------- Efects -----------------------------------*/



div.linksContainer {
	width: auto;
	height: auto;
	overflow: auto;
}

div.imgContainer {
	width: 75px;
	height: 85px;
	float: left;
}

header img {
	width: 54px;
	height: 54px;
	
}
.zoom:hover {
  height: 70px;
  width: 70px;
}

/*-------------------------- Header -----------------------------------*/

header {
	padding-bottom: 80px;
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
}	

div#myName {
	text-align: center;
	width: auto;
	padding: 22px;
	float: left;
	color: #ffffff;
	background-color: #4aaaa5;
}



/*-------------------- Navigation Bar inside Header ----------------------*/

span {	/* Gray lines in navBar */
	color:#e3e3e3; 
	padding: 4px;
}

div.navBar {
	float: right;
	padding: 30px 0 30px 0;
}

header li {
	float: left;
	display: inline;
}

header a {
	color: #777777;
	text-decoration: none;
}

/*--------------------Styling Boxes -----------------------------------*/
/* Boxes Body */
section {
	width: auto;
	height: auto;
	overflow: auto;
	padding-top: 35px;
	padding-bottom:97px;
}

.box {
	background-color: #ffffff;
	border: 1px solid #dddddd;
}


/* Boxes Title */
section h2, h3 {
	padding-bottom: 30px;
	border-bottom: solid #dddddd;
	color: #4aaaa5;
}

/* Boxes Content */

div#content {
	width: 588px;
	height: auto;
	padding: 30px;
	float: left;
}

div#content img {
	padding-top: 40px;
	float: left;
	margin-right: 20px;
}

div#content p {
	padding-top: 30px;
	line-height: 2;
	font-size: 16px;
}

div#links {
	width: 208;
	height: auto;
	text-align: center;
	color: #4aaaa5;
	padding: 19px;
	float: right;
}

div#links img {
	margin: 15px 5px 0px 5px;
}

/*------------------------- Styling footer ----------------------------*/

footer {
	background-color: #666666;
	color: #ffffff;
	/**/text-align: center;
	border-top: 5px solid #4aaaa5;
	font-size: 11px;
	padding:20px 0 20px 0;
	clear: both;
/* sticking footer at the bottom of the page */
	position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
} 

